body {
  background-color: rgb(94, 91, 91);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.card{
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: inset 5px 5px 12px #fff, 5px 5px 12px rgb(0,0,0,16);
  padding: 20px;
  flex-direction: column;
}

.display{
  background-color: rgb(255, 255, 255);
  height: 35%;
  width: 100%;
  border-radius: 20px;
  box-shadow: inset 2px 3px 11px rgb(0,0,0,16), 5px 5px 12px #fff;
  display: flex;
  justify-content: center;
}

.display input{
  background-color: transparent;
  border: none;
  text-align: end;
  font-size: 40px;
  width: 90%;
  outline: none;
}

.button{
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
}

.left-button{
  width: 70%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  align-items: center;
}

.tombol {
  background-color: rgb(253, 253, 253);
  box-shadow: inset 5px 5px 12px #fff, 5px 5px 12px rgb(0,0,0,16);
  border: none;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  color: red;
  font-size: 15px;
}

.tombol:hover {
  transform: scale(0.9);
}

.right-button{
  background-color: rgb(245, 183, 183);
  border-radius: 20px;
  box-shadow: inset 5px 5px 12px rgb(0,0,0,26), 5px 5px 12px #fff;
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}